.edit-form-page-wrapper {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.edit-form {
  border: solid white 1px;
  width: 40em;
  height: 40em;
  background-color: #2D3033;
  border: solid rgba(255, 255, 255, 0.4) 1px;
  border-radius: 3px;
  padding: 10px;
}

.edit-form-title-container {
  /* background-color: red; */
  height: 6%;
}

.edit-form-title-input {
  background-color: transparent;
  width: 100%;
  height: 100%;
  padding: 10px;
  border: none;
  font-size: large;
  font-family: inherit;
  color: white;
  border-bottom: solid rgba(255, 255, 255, 0.4) 1px;
  transition: 0.2s;
}

.edit-form-title-input:focus {
  outline: none;
  border-bottom: solid #004daa 1px;
}

.edit-form-description-container {
  height: 88%;
}

.edit-form-description-input {
  background-color: transparent;
  border: none;
  width: 100%;
  height: 100%;
  resize: none;
  font: inherit;
  color: white;
  border-bottom: solid rgba(255, 255, 255, 0.4) 1px;
  margin-top: 5px;
  margin-left: 10px;
  transition: 0.2s;
}

.edit-form-description-input:focus {
  outline: none;
  border-bottom: solid #004daa 1px;
}

.edit-form-buttons-container {
  /* background-color: red; */
  width: 100%;
  height: 6%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding: 5px;
}

.edit-form-buttons-wrapper {
  /* background-color: red; */
  margin-top: 11px;
  width: 130px;
  display: flex;
  justify-content: space-between;
}

.edit-form-buttons {
  height: 45%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: none;
  background: none;
  font: inherit;
}

.edit-form-cancel-button {
  color: white;
  opacity: 80%;
}

.edit-form-cancel-button:hover {
  cursor: pointer;
}

.edit-form-save-button {
  height: 24px;
  background-color: lightgreen;
  opacity: 90%;
  border-radius: 10px;
  width: 60px;
  transition: all 0.2s;
  color: white;
}

.edit-form-save-button:hover {
  opacity: 100%;
  cursor: pointer;
}