.answers-wrapper {
  /* border: solid white 1px; */
  margin-top: 50px;
  padding-top: 50px;
  border-top: solid rgba(255, 255, 255, 0.4) 1px;
}

.answer-input-section {
  width: 100%;
  /* border: solid white 1px; */
  min-height: 100px;
}

.answer-input-container {
  width: 100%;
  height: auto;
  /* border: solid white 1px; */
}

.answer-input {
  width: 100%;
  min-height: 20px;
  height: auto;
  font: inherit;
  border: solid rgba(255, 255, 255, 0.4) 1px;
  border-radius: 5px;
  background: transparent;
  padding: 5px;
  color: #CECAC4;
  transition: 150ms ease-in-out;
  resize: vertical;
}

.answer-input:focus {
  outline: none;
  border: solid lightblue 1px;
}

.submit-answer-button-container {
  /* border: solid white 1px; */
  display: flex;
  justify-content: flex-end;
  padding-top: 15px;
  /* border: solid white 1px; */
}

.submit-answer-button {
  height: 24px;
  opacity: 90%;
  transition: all 0.2s;
  color: white;
  height: 45%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: none;
  background: none;
  font: inherit;
}

.answer-error {
  color: red;
  opacity: 70%;
  font-size: 12px;
  margin-top: 3px;
}

.submit-answer-button:hover {
  opacity: 100%;
  cursor: pointer;
  color: gray;
}

.displayed-answers-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: center;
  align-items: center;
  /* border: solid white 1px; */
}

.answer-card {
  position: relative;
  border: solid rgba(255, 255, 255, 0.4) 1px;
  background-color: rgb(24, 26, 27);
  width: 100%;
  height: auto;
  min-width: 400px;
  margin: 10px 0 10px 0;
  padding: 10px;
  border-radius: 5px;
  max-height: 700px;
}

.answer-card-user {
  padding-bottom: 7px;
  margin-bottom: 7px;
  border-bottom: solid rgba(255, 255, 255, 0.4) 1px;
}

.answer-card-user>a {
  text-decoration: none;
  color: #CECAC4;
}

.answer-card-user>a:hover {
  text-decoration: underline;
}

.delete-answer-button {
  position: absolute;
  bottom: 5px;
  right: 5px;
  border: none;
  background: none;
  color: #CECAC4;
}

.delete-answer-container {
  background-color: #2D3033;
  height: 150px;
  border: solid rgba(255, 255, 255, 0.4) 1px;
  border-radius: 3px;
}

.delete-answer-container div,
h2 {
  color: #CECAC4;
  font-family: Poppins;
}

.delete-answer-container .delete-answer-question {
  height: 50px;
  margin: 15px;
}

.delete-answer-container .yes-delete,
.no-delete {
  display: flex;
  justify-content: center;
  align-items: center;
  border-top: solid rgba(255, 255, 255, 0.4) 1px;
  height: 33px;
  cursor: pointer;
}

.delete-answer-container .yes-delete:hover {
  background-color: #181A1B;
  color: gray;
}

.delete-answer-container .no-delete:hover {
  background-color: #181A1B;
  color: gray;
}

[role='tooltip'].popup-content {
  width: 200px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 0px 3px;
}

.popup-overlay {
  background: rgba(0, 0, 0, 0.5);
}

[data-popup='tooltip'].popup-overlay {
  background: transparent;
}

@keyframes anvil {
  0% {
    transform: scale(1) translateY(0px);
    opacity: 0;
    box-shadow: 0 0 0 rgba(241, 241, 241, 0);
  }

  1% {
    transform: scale(0.96) translateY(10px);
    opacity: 0;
    box-shadow: 0 0 0 rgba(241, 241, 241, 0);
  }

  100% {
    transform: scale(1) translateY(0px);
    opacity: 1;
    box-shadow: 0 0 500px rgba(241, 241, 241, 0);
  }
}

.popup-content {
  -webkit-animation: anvil 0.3s cubic-bezier(0.38, 0.1, 0.36, 0.9) forwards;
}